{% extends 'myPaws/myPawsBase.html' %}
{% load thumbnail %}
{% block meta_title %}
    {{ dog.name }} information
{% endblock %}
{% block title %}
    {{ dog.name }}
{% endblock %}
{% block main_article %}
    {{ dog.bio|safe }}
{% endblock %}
{% block additional_sections %}
    {% include 'myWords/components/myWordsIndexSection.html' %}
    {% include 'myPhotos/components/myPhotoGallerySection.html' %}
{% endblock %}
{% block app_nav %}
    <a href="/dogs">Our Dogs</a><br/>
    {% for item in dogs %}
        <a href="{% url 'bigPaw' item.name %}">{{ item.name }}</a>
        <br/>
    {% endfor %}
{% endblock %}
{% block aside %}
    {% include 'myPaws/components/pawBlurb.html' %}
    <h3>Pedigree</h3>
    <img src="{{ dog.pedigree.url }}" alt="{{ dog.name }} pedigree"/>
    <hr/>
    {% include 'myFriends/components/friendBlurb.html' with person=dog.caretaker %}
{% endblock %}