{% extends 'myPaws/myPawsBase.html' %}
{% load thumbnail %}
<style>
    .dog:nth-child(odd) {
        background-color: gray;
    }

    .dog_list_image {
        width: 20%;
    }
</style>
{% block meta_title %}
    Our Dogs
{% endblock %}
{% block title %}
    Our Dogs
{% endblock %}
{% block main_article %}
    {% include 'myPaws/components/myPawsIndex.html' %}
{% endblock %}
{% block app_nav %}
    <a href="{% url 'littersIndex' %}">Litters</a><br/>
    {% include 'myPaws/components/mainNav.html' %}
{% endblock %}
{% block aside %}
    {% include 'myPaws/components/pawBlurb.html' %}
{% endblock %}