{% extends 'myWords/myPostsBase.html' %}
{% load thumbnail %}
<style>
    h1 {
        font-size: 1.5em;
    }
</style>
{% block meta_title %}
    {{ title }}
{% endblock %}
{% block title %}
    {{ title }}
{% endblock %}
{% block main_article %}
    <p>
        <img src="{{ post.photo.url }}" style="width: 30%; float: left" alt="{{ post.title }}">
        {{ post.content|safe }}
    </p>
{% endblock %}
{% block aside %}
    <a href="{% url 'friend' post.poster.username %}">
        <h3>{{ post.poster.first_name }}</h3>
        <img src="{{ post.poster.portrait.url }}" alt="{{ post.poster.first_name }}"/>
    </a>
    <hr/>
    {% if post.litter %}
        <a href="{% url 'littlePaws' post.litter.id %}">View Litter</a>
        <h3>{{ post.litter.photo.description }}</h3>
        {% thumbnail post.litter.photo "400" crop="center" as thumbnail %}
            <img src="{{ thumbnail.url }}" alt="{{ post.litter.photo.description }}"/>
        {% endthumbnail %}
    {% endif %}
    {% if post.dog %}
        <a href="{% url 'bigPaw' post.dog.id %}">View {{ post.dog.name }}</a>
        {% thumbnail post.dog.portrait "400" crop="center" as thumbnail %}
            <img src="{{ thumbnail.url }}" alt="{{ dog.name }}"/>
        {% endthumbnail %}
    {% endif %}
{% endblock %}