{% extends 'myWords/myPostsBase.html' %}
{% load thumbnail %}
<style>
    h1 {
        font-size: 1.5em;
    }

    .photo_link:hover {
        background-color: darkblue;
    }
</style>
{% block meta_title %}
    {{ title }}
{% endblock %}
{% block title %}
    {{ title }}
{% endblock %}
{% block main_article %}
    <h2>Page: {{ posts.number }}</h2>
    {% include 'myWords/components/myWordsIndex.html' %}
    {% include 'components/pagination.html' %}
{% endblock %}
{% block aside %}
    {% if post %}
        <a href="{% url 'postDetail' post.id %}">
            <h3>{{ post.title }}</h3>
            {% thumbnail post.photo "400" crop="center" as photo %}
                <img src="{{ photo.url }}" alt="{{ post.description }}"/>
            {% endthumbnail %}
        </a>
        <hr/>
        <a href="1">Latest</a>
    {% endif %}
{% endblock %}