{% extends 'base.html' %}
{% block site_nav %}
    <a href="/">
        <div>Home</div>
    </a>
    <a href="/dogs">
        <div>Our Dogs</div>
    </a>
    <a href="/photos">
        <div>Photos</div>
    </a>
    <a href="/posts" class="active">
        <div>News</div>
    </a>
    <a href="/about">
        <div>About Us</div>
    </a>
{% endblock %}
{% block app_nav %}
    <a href="{% url 'latestPosts' %}">All Posts</a><br/>
    <a href="{% url 'latestDogPosts' %}">Dog Posts</a><br/>
    <a href="{% url 'latestLitterPosts' %}">Litter Posts</a><br/>
    <a href="{% url 'latestCaretakerPosts' %}">Caretaker Posts</a><br/>
{% endblock %}