{% extends 'base.html' %}
{% block site_nav %}
    <a href="/">
        <div>Golden Irishes</div>
    </a>
    <a href="/dogs">
        <div>Our Dogs</div>
    </a>
    <a href="#logo" class="active">
        <div>Photos</div>
    </a>
    <a href="/about">
        <div>About Us</div>
    </a>
{% endblock %}
{% block app_nav %}
    <a href="{% url 'allPosts' tags %}">All Posts</a><br/>
    <a href="{% url 'dogPosts' tags %}">Dog Posts</a><br/>
    <a href="{% url 'litterPosts' tags %}">Litter Photos</a><br/>
    <a href="{% url 'caretakerPosts' tags %}">Caretaker Posts</a><br/>
{% endblock %}