{% extends 'base.html' %}
{% block site_nav %}
    <a href="/">
        <div>Home</div>
    </a>
    <a href="/dogs">
        <div>Our Dogs</div>
    </a>
    <a href="/photos" class="active">
        <div>Photos</div>
    </a>
    <a href="/posts">
        <div>News</div>
    </a>
    <a href="/about">
        <div>About Us</div>
    </a>
{% endblock %}
{% block app_nav %}
    <a href="{% url 'photoSearch' "all" %}">All Photos</a><br/>
    <a href="{% url 'dogPhotoSearch' tags %}">Dog Photos</a><br/>
    <a href="{% url 'puppyPhotoSearch' tags %}">Puppy Photos</a><br/>
    <a href="{% url 'litterPhotoSearch' tags %}">Litter Photos</a><br/>
    <a href="{% url 'caretakerPhotoSearch' tags %}">Caretaker&nbsp;Photos</a><br/>
{% endblock %}