{% extends 'myPhotos/myPhotosBase.html' %}
<style>
    h1 {
        font-size: 1.5em;
    }

    .large_photo img {
        width: 100%;
    }
</style>
{% block meta_title %}
    {{ title }}
{% endblock %}
{% block title %}
    {{ title }}
{% endblock %}
{% block main_article %}
    <h2>Photos Page {{ page }}</h2>
    <div class="large_photo">
        <h3>{{ photo.title }}</h3>
        <img src="{{ photo.image.url }}" alt="{{ photo.description }}">
        <blockquote>{{ photo.description|safe }}</blockquote>
    </div>

{% endblock %}
{% block aside %}
    <h3>Search {{ title }}</h3>
    <form onsubmit="
    window.location.href = '../search/' + document.getElementById('tag').value.split(' ').join('&')
    return false;
">
        <label for="tag">Enter Tag</label>
        <input id="tag" type="text">
        <button type="submit" id="search">Search</button>
    </form>
{% endblock %}