{% extends 'myPhotos/myPhotosBase.html' %}
{% load thumbnail %}
<style>
    h1 {
        font-size: 1.5em;
    }

    .photo_link:hover {
        background-color: darkblue;
    }
</style>
{% block meta_title %}
    {{ title }}
{% endblock %}
{% block title %}
    {{ title }}
{% endblock %}
{% block main_article %}
    <h2>Photos Page {{ page }}</h2>
    <div class="photo_gal flex">
        {% for photo in photos %}
            <a href="{% url 'photoDetail' photo.id %}">
                <div class="photo photo_link">
                    {% thumbnail photo "400" crop="center" as thumbnail %}
                        <label for="{{ photo.id }}">{{ photo.title }}</label>
                        <img id="{{ photo.id }}" src="{{ thumbnail.url }}" alt="{{ photo.description }}">
                    {% endthumbnail %}
                </div>
            </a>
        {% endfor %}
    </div>
    {% if more_photos %}
        <a href="{{ tags }}/{{ next_page }}">Next</a>
    {% endif %}
    {% if last_page > 0 %}
        <a href="{{ tags }}/{{ last_page }}">Previous</a>
    {% endif %}
{% endblock %}
{% block app_nav %}
    <a href="{% url 'photoSearch' tags %}">All Photos</a><br/>
    <a href="{% url 'dogPhotoSearch' tags %}">Dog Photos</a><br/>
    <a href="{% url 'puppyPhotoSearch' tags %}">Puppy Photos</a><br/>
    <a href="{% url 'litterPhotoSearch' tags %}">Litter Photos</a><br/>
    <a href="{% url 'caretakerPhotoSearch' tags %}">Caretaker&nbsp;Photos</a><br/>
{% endblock %}
{% block aside %}
    <h3>Search {{ title }}</h3>
    <form onsubmit="
    window.location.href = document.getElementById('tag').value.split(' ').join('&')
    return false;
">
        <label for="tag">Enter Tag</label>
        <input id="tag" type="text">
        <button type="submit" id="search">Search</button>
    </form>
{% endblock %}