{% extends 'myPhotos/myPhotosBase.html' %}
{% load thumbnail %}
<style>
    h1 {
        font-size: 1.5em;
    }

    .photo_link:hover {
        background-color: darkblue;
    }
</style>
{% block meta_title %}
    {{ title }}
{% endblock %}
{% block title %}
    {{ title }}
{% endblock %}
{% block main_article %}
    <h2>Photos Page {{ page }}</h2>
    {% include 'myPhotos/components/myPhotoGallery.html' %}
    {% include 'components/pagination.html' with page=photos %}
{% endblock %}
{% block aside %}
    <h3>Search {{ title }}</h3>
    <form onsubmit="
    window.location.href = document.getElementById('tag').value.split(' ').join('&')
    return false;
">
        <label for="tag">Enter Tag</label>
        <input id="tag" type="text">
        <button type="submit" id="search">Search</button>
    </form>
{% endblock %}