{% load thumbnail %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
          content="Red Retriever has been a Golden Irish breeder since 2005. We breed for health, happiness, and companionability in that order. Health guaranteed.">

    <title>
        {% block meta_title %}default_title{% endblock %}
    </title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'baseStyle.css' %}">
    <style>
        {% block style %}

        {% endblock %}
    </style>
    <script>
        document.addEventListener("DOMContentLoaded", checkWidth);
        window.onresize = checkWidth
        let downsized = false
        function checkWidth() {
            if(!downsized && window.innerWidth < 1000) {
                downsized = true
                let e = document.getElementById("aside")
                let n = document.getElementById("nav")
                let a = document.getElementById("article")
                e.remove()
                e.style.width = "97%"
                n.append(e)
                a.style.width = "78%"
            } else if(downsized && window.innerWidth > 1000) {
                downsized = false
                let e = document.getElementById("aside")
                let n = document.getElementById("nav")
                let a = document.getElementById("article")
                e.remove()
                e.style.width = "20%"
                n.parentElement.append(e)
                a.style.width = "60%"
            }
        }
    </script>
    <link rel="shortcut icon" href="/media/blue.ico">
    <link rel="icon" type="image/png" href="/media/blue.ico">
</head>

<body>
<header>
    <h1>
        {% block title %}{{ title }}{% endblock %}
    </h1>
    <img src="/media/logo.png" alt="Red Retriever wings over helping hands" id="logo">
</header>
<main>
    <nav id="nav">
        {% block app_nav %}intra app navigation goes here{% endblock %}
    </nav>
    <article id="article">
        <section></section>
        <section class="main_document">
            {% block main_article %}
                Main content goes here
            {% endblock %}
        </section>
        {% block additional_sections %}
        {% endblock %}
        <section></section>
    </article>
    <aside id="aside">
        {% block aside %}
            Basic bio context goes here
        {% endblock %}
    </aside>
</main>
<footer class="flex">
    {% block site_nav %}inter app navigation goes here{% endblock %}
</footer>
</body>

</html>