{% load thumbnail %}
{% if photos %}
    <div class="photo_gal flex">
        {% for photo in photos %}
            <a href="{% url 'photoDetail' photo.id %}" class="div_link">
                <div class="photo photo_link">
                    {% thumbnail photo.image "400" crop="center" as thumbnail %}
                        <label for="{{ photo.id }}">{{ photo.title }}</label>
                        <img id="{{ photo.id }}" src="{{ thumbnail.url }}" alt="{{ photo.description }}">
                    {% endthumbnail %}
                </div>
            </a>
        {% endfor %}
    </div>
{% endif %}