{% load thumbnail %}
<h2>Litters</h2>
<div class="myLittlePawsIndex">
    {% for litter in litters %}
        <a href="{% url 'littlePaws' litter.id %}" class="div_link index">
            <div class="myLittlePaws">
                {% thumbnail litter.portrait "400" crop="center" as thumbnail %}
                    <img src="{{ thumbnail.url }}" alt="{{ litter }}" class="litter_list_image"
                         style="width: 20%; display: inline-block; vertical-align: top">
                {% endthumbnail %}
                <div style="display: inline-block; width: 70%; vertical-align: top">
                    <h3>{{ litter }}</h3>
                    <p>{{ litter.description }}</p>
                </div>
            </div>
        </a>
    {% endfor %}
</div>