{% load thumbnail %}
{% if posts %}
    <div class="myWordsIndex">
        {% for post in posts %}
            <a href="{% url 'postDetail' post.id %}" class="div_link">
                <div class="post_headline">
                    {% thumbnail post.photo "400" crop="center" as photo %}
                        <img src="{{ photo.url }}" alt="{{ post.description }}"
                             style="display: inline-block; width: 20%">
                    {% endthumbnail %}
                    <div style="width: 70%; display: inline-block; vertical-align: top">
                        <h3>{{ post.title }}</h3>
                        <div>{{ post.content|striptags|truncatechars:200 }}...</div>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
{% endif %}