{% extends 'myFriends/myFriendsBase.html' %}
{% block meta_title %}
    {{ caretaker.first_name }} information
{% endblock %}
{% block title %}
    {{ caretaker.first_name }}
{% endblock %}
{% block main_article %}
    <h2>Bio</h2>
    {{ caretaker.bio|safe }}
{% endblock %}
{% block additional_sections %}
    {% include 'myWords/components/myWordsIndex.html' %}
    {% include 'myPaws/components/myPawsIndexSection.html' %}
    {% include 'myPhotos/components/myPhotoGallerySection.html' %}
{% endblock %}
{% block aside %}
    {% include 'myFriends/components/friendBlurb.html' with person=caretaker %}
{% endblock %}