{% extends 'myFriends/myFriendsBase.html' %}
{% load thumbnail %}
<style>
    .friend:nth-child(odd) {
        background-color: gray;
    }

    .person_list_image {
        width: 20%;
    }
</style>
{% block meta_title %}
    Our Caretakers
{% endblock %}
{% block title %}
    Our Caretakers
{% endblock %}
{% block main_article %}
    {% include 'myFriends/components/myFriendIndex.html' with friends=caretakers %}
{% endblock %}
{% block aside %}
    {% include 'myFriends/components/friendBlurb.html' %}
{% endblock %}