{% extends 'myFriends/myFriendsBase.html' %}
<style>
    .friend:nth-child(odd) {
        background-color: gray;
    }

    .person_list_image {
        width: 20%;
    }
</style>
{% block meta_title %}
    Our Caretakers
{% endblock %}
{% block title %}
    Our Caretakers
{% endblock %}
{% block main_article %}
    {% for item in friends %}
        <div class="friend">
            <img src="{{ item.portrait.url }}" alt="{{ item.name }}" class="person_list_image" style="width: 20%; display: inline-block; vertical-align: top" >
            <div style="display: inline-block; width: 70%; vertical-align: top">
                <h3>{{ item.first_name }}</h3>
                <p>{{ item.description }}</p>
            </div>
        </div>
    {% endfor %}
{% endblock %}
{% block app_nav %}
    <a href="/about">About Us</a>
    {% for person in caretakers %}
        <a href="{% url 'friend' person.username %}">{{ person.first_name }}</a>
        <br/>
    {% endfor %}
{% endblock %}
{% block aside %}
    <h3>{{ person.description }}</h3>
    <img src="{{ person.portrait.url }}" alt="{{ person.first_name }}"/>
    <hr/>
{% endblock %}