{% extends 'base.html' %}
{% block site_nav %}
    <a href="/">
        <div>Home</div>
    </a>
    <a href="/dogs">
        <div>Our Dogs</div>
    </a>
    <a href="/photos">
        <div>Photos</div>
    </a>
    <a href="/posts">
        <div>News</div>
    </a>
    <a href="/about" class="active">
        <div>About Us</div>
    </a>
{% endblock %}
{% block app_nav %}
    <a href="/about">About Us</a><br/>
    {% for person in caretakers %}
        <a href="{% url 'friend' person.username %}">{{ person.first_name }}</a>
        <br/>
    {% endfor %}
{% endblock %}